.action-bar {
    background-color: #6750A4;
    color: #FFFFFF;
}

/* Material 3 Card Style */
.card {
    margin: 8 16;
    padding: 16;
    background-color: #FEF7FF;
    border-radius: 12;
    border-color: #EADDFF;
    border-width: 1;
}

.avatar {
    width: 50;
    height: 50;
    border-radius: 25; /* Lo hace completamente circular */
    background-color: #EADDFF;
    margin-right: 10;
}

.text-container {
    margin-left: 16;
    vertical-align: center;
}

.title {
    font-size: 16;
    font-weight: bold;
    color: #1D1B20;
}

.subtitle {
    font-size: 14;
    color: #49454F;
}

.delete-btn {
    font-size: 20;
    padding: 10;
}

/* Material 3 Floating Action Button (FAB) */
.fab {
    background-color: #6750A4;
    color: white;
    font-size: 28;
    width: 56;
    height: 56;
    border-radius: 16; /* M3 FABs son más cuadrados, no circulos perfectos */
    margin: 16;
    horizontal-align: right;
}

.form-container {
    padding: 24;
}

.input-label {
    font-size: 14;
    color: #49454F;
    margin-top: 16;
    margin-bottom: 4;
}

.input-field {
    border-bottom-width: 1;
    border-bottom-color: #6750A4;
    padding: 8;
    font-size: 16;
}

.switch-field {
    horizontal-align: left;
    margin-top: 8;
    margin-bottom: 24;
}

.btn-primary {
    background-color: #6750A4;
    color: white;
    border-radius: 20;
    height: 40;
    font-weight: bold;
}